# Welcome to serverless. Read the docs
# https://serverless.com/framework/docs/

# Serverless.yml is the configuration the CLI
# uses to deploy your code to your provider of choice

# The `service` block is the name of the service (no dots allowed in the name)
service: my-website-mladostlife

custom:
  websiteName: mladost.life
  websiteBucketName: my-website-${self:custom.websiteName}-${self:provider.stage}

  # confige the serverless-s3-sync
  s3Sync:
    - bucketName: ${self:custom.websiteBucketName}
      localDir: website

plugins:
  - serverless-s3-sync

provider:
  name: aws
  profile: serverless-cli
  runtime: nodejs8.10

resources:
  Resources:
    # the S3 bucket to host the static contents
    WebsiteS3Bucket:
      Type: AWS::S3::Bucket
      Properties:
        AccessControl: PublicRead
        BucketName: ${self:custom.websiteBucketName}
        WebsiteConfiguration:
          IndexDocument: index.html
          ErrorDocument: index.html

    # the permissive policy for the previous S3 bucket
    WebsiteS3BucketPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket:
          Ref: WebsiteS3Bucket
        PolicyDocument:
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action:
                - s3:GetObject
              Resource: arn:aws:s3:::${self:custom.websiteBucketName}/* # creating S3 ARN is :arn:aws:s3:::${bucketName}/*
              # Resource:
              #   Fn::Join: [
              #     "", [
              #       "arn:aws:s3:::",
              #       {
              #         "Ref": "WebsiteS3Bucket"
              #       },
              #       "/*"
              #     ]
              #   ]

    # TODO:
    # WebsiteCertificate:
    #   Type: AWS::CertificateManager::Certificate
    #   Properties:
    #     DomainName: ${self:custom.websiteName}
    #     DomainValidationOptions:
    #     - DomainName: ${self:custom.websiteName}
    #       ValidationDomain: ${self:custom.websiteName}

    # CDN - Cloudfront distribution, which wraps the API Gateway, and the S3 bucket, as different origins
    WebsiteCloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Enabled: true
          HttpVersion: http2

          ## The certificate to use when viewers use HTTPS to request objects.
          ViewerCertificate:
            CloudFrontDefaultCertificate: 'true'
          # TODO:
          # ViewerCertificate:
          #   AcmCertificateArn:
          #     Ref: WebsiteCertificate
          #   SslSupportMethod: sni-only


          # Aliases : [ "mysite.example.com", "yoursite.example.com" ]
          Aliases : [ "www.${self:custom.websiteName}", "${self:custom.websiteName}" ]

          DefaultRootObject: index.html

          ## Since the Single Page App is taking care of the routing we need to make sure ever path is served with index.html
          ## The only exception are files that actually exist e.h. app.js, reset.css
          CustomErrorResponses:
            - ErrorCode: 404
              ResponseCode: 200
              ResponsePagePath: /index.html

          Origins:
            # - DomainName: ${self:custom.websiteBucketName}.s3.amazonaws.com
            - DomainName:
                Fn::GetAtt:
                  - WebsiteS3Bucket
                  - DomainName
              ## An identifier for the origin which must be unique within the distribution
              Id: WebsiteOrigin
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: http-only # http-only | match-viewer | https-only
              ## In case you want to restrict the bucket access use S3OriginConfig and remove CustomOriginConfig
              # S3OriginConfig:
              #   OriginAccessIdentity: origin-access-identity/cloudfront/E127EXAMPLE51Z

          DefaultCacheBehavior:
            ## The protocol that users can use to access the files in the origin. To allow HTTP use `allow-all`
            ViewerProtocolPolicy: redirect-to-https # allow-all | redirect-to-https | https-only
            ## The origin id defined above
            TargetOriginId: WebsiteOrigin
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
              - DELETE
              - PATCH
              - POST
              - PUT
            Compress: true
            DefaultTTL: 30
            MinTTL: 10
            ## Defining if and how the QueryString and Cookies are forwarded to the origin which in this case is S3
            ForwardedValues:
              QueryString: true
              Cookies:
                # Forward: none
                Forward: all
          # Logging:
          #   IncludeCookies: 'false'
          #   Bucket: mylogs.s3.amazonaws.com
          #   Prefix: myprefix
      DependsOn:
        - WebsiteS3BucketPolicy

    ## DNS records for the website
    # First a Route53 HostedZone that will host the DNS records
    DnsHostedZone:
      Type: "AWS::Route53::HostedZone"
      Properties:
        Name: ${self:custom.websiteName}
    DnsRecord:
      Type: AWS::Route53::RecordSet
      Properties:
        AliasTarget:
          ## This is fixed - for S3 bucket zones see https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region
          ## The CloudFront hosted zone ID value is Z2FDTNDATAQYW2.
          HostedZoneId: Z2FDTNDATAQYW2
          ## target the CloudFront Distribution domain
          DNSName:
            'Fn::GetAtt': [ WebsiteCloudFrontDistribution, DomainName ]
        ## The hosted zone in Route53 - pass either HostedZoneId or HostedZoneName
        HostedZoneName: ${self:custom.websiteName}.
        # HostedZoneId:  # the same result as the upper
        #   Ref: DnsHostedZone
        Name: ${self:custom.websiteName}.
        Type: 'A'
      DependsOn:
        - DnsHostedZone
    DnsRecordWWW:
      Type: AWS::Route53::RecordSet
      Properties:
        AliasTarget:
          ## The ID of the Route53 HostedZone.
          HostedZoneId:
            Ref: DnsHostedZone
          ## target the main domain inside
          DNSName: ${self:custom.websiteName}.
        ## The hosted zone in Route53 - pass either HostedZoneId or HostedZoneName
        HostedZoneName: ${self:custom.websiteName}.
        # HostedZoneId:  # the same result as the upper
        #   Ref: DnsHostedZone
        Name: www.${self:custom.websiteName}.
        Type: 'A'
      DependsOn:
        - DnsRecord

  # Print out:
  # 1. the name of the website S3 Bucket,
  # 2. the CloudFront distribution domain
  # 3. the origin ('AWS::Region' is a AWS prop)
  Outputs:
    WebsiteS3BucketName:
      Value:
        Ref: WebsiteS3Bucket

    WebsiteS3DomainName:
      Value: # <bucket-name>.s3-website-<AWS-region>.amazonaws.com
        "Fn::Join": [ '', [ Ref: WebsiteS3Bucket, ".s3-website-", Ref: AWS::Region, ".amazonaws.com"] ]

    WebsiteCDNDomainName:
      Value:
        'Fn::GetAtt': [ WebsiteCloudFrontDistribution, DomainName ]

    Region:
      Value: { "Fn::Join": [ '', [ Ref: AWS::Region] ] }
